# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
assets/
build/
cjs/
coverage/
dist/
dts/
esm/
lib/
mjs/
node_modules/
tmp/

# Custom
*.min.js
*.map

# Beemo configs
.babelrc
.eslintignore
.eslintrc.js
.flowconfig
*.tsbuildinfo
!website/babel.config.js
!docusaurus.config.js

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
