name: Build
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12, 14, 16, 18]
      fail-fast: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install --immutable
      - run: yarn run build
      - run: yarn run check
  pack:
    name: Pack
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: yarn install --immutable
      - run: yarn run pack
  docs:
    name: Docs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo-type:
          - monorepo
          - polyrepo
          - polyrepo-deep
          - polyrepo-multi
      fail-fast: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: yarn install --immutable
      - run: yarn run build
      - run: yarn workspace website run build
        env:
          DOCS_REPO_TYPE: ${{ matrix.repo-type }}
          NODE_ENV: production
